@model List<Category>
<partial name="_Notification" />
<h1>List of Category</h1>

<table class="table table-bordered">
     <a asp-controller="Users" asp-action="Create" class="btn btn-success"><i class="bi bi-plus-lg"></i> Create New Account</a> 
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date Create</th>
            <th>Availability</th>
            <th>User</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Where(c => !c.Availability))
        // Phương thức Where sử dụng để lọc ra các obj Category trong Model có thuộc tính Availability là false
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <td>@category.DateCreate</td>
                <td>
                    @(category.Availability ? "Active" : "Inactive")
                    @if (category.Availability)
                    {
                        <form asp-controller="Category" asp-action="ToggleAvailability" method="post">
                            <input type="hidden" name="id" value="@category.Id" />
                            <button type="submit" class="btn btn-danger">Disable</button>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Category" asp-action="ToggleAvailability" method="post">
                            <input type="hidden" name="id" value="@category.Id" />
                            <button type="submit" class="btn btn-success">Enable</button>
                        </form>
                    }
                </td>
                <td>@category.ApplicationUser.Name</td>
                <td>
                    <a asp-controller="Category" asp-action="Delete" asp-route-id=@category.Id>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
