@using Microsoft.AspNetCore.Identity;
@model AsmAppDev.Models.ApplicationUser
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "User Profile";
}

<h1>User Profile</h1>

<div>
    <dl class="row">
        <dt class="col-sm-3">Avatar</dt>
        <dd class="col-sm-9">@Model.Avatar</dd>

        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9">@Model.Name</dd>

        <dt class="col-sm-3">Introduction</dt>
        <dd class="col-sm-9">@Model.Introduction</dd>


        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">@Model.Address</dd>


        <dt class="col-sm-3">City</dt>
        <dd class="col-sm-9">@Model.City</dd>

        <dt class="col-sm-3">CV</dt>
        <dd class="col-sm-9">@Model.CV</dd>
    </dl>
</div>

<div class="form-group">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit Profile</a>
</div>
